*.o
*.a
*~
build/*

#SAMtools
*.dSYM
ext/sam/bcftools/bcftools
ext/sam/misc/ace2sam
ext/sam/misc/bamcheck
ext/sam/misc/maq2sam-long
ext/sam/misc/maq2sam-short
ext/sam/misc/md5fa
ext/sam/misc/md5sum-lite
ext/sam/misc/wgsim
ext/sam/samtools
													